@font-face {
    font-family: cascadiaCode;
    src: url("font/cascadia_code.ttf")
}

@font-face {
    font-family: kingstone;
    src: url("font/kingstone.ttf");
}

:root {
    --scheme-border-color: white;
    --scheme-text-color: white;
    --scheme-bg-dark-color: black;
    --scheme-bg-light-color: black;
    --scheme-bg-image: "";
}

* {
    margin: 0;
    padding: 0;
    font-family: cascadiaCode;
    color: var(--scheme-text-color);
}

html {
    background-image: var(--scheme-bg-image);
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    border: solid 4px var(--scheme-border-color);

    background: radial-gradient(circle at 50% 50%, var(--scheme-bg-light-color), var(--scheme-bg-dark-color) 90%);

    width: 96%;

    padding: 7px;
    padding-top: 9px;

    margin-top: 30px;
    margin-bottom: 30px;
}

.widget {
    margin-top: -2px;
    padding: 4px;
    border: solid 2px var(--scheme-border-color);
}

h1 {
    font-family: kingstone;
}

table {
    width: 100%;
    table-layout: fixed;
}

.border, td {
    border: solid 2px var(--scheme-border-color);
}

td {
    text-align: center;
}

.marquee-container {
    width: 100%;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    100% {
        transform: translate(0, 0);
    }
    0% {
        transform: translate(-100%, 0);
    }
}
