@font-face {
    font-family: cascadiaCode;
    src: url("font/cascadia_code.ttf")
}

@font-face {
    font-family: kingstone;
    src: url("font/kingstone.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: cascadiaCode;
}

html {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 96%;

    padding: 7px;
    padding-top: 9px;

    margin-top: 30px;
    margin-bottom: 30px;
}

.widget {
    margin-top: -2px;
    padding: 4px;
}

h1 {
    font-family: kingstone;
    color: red;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
}
