.img-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -4px;
    margin-top: -4px;
}

.column {
    flex: 32%;
    padding: 0 4px;
    height: 100%;
}

.column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
    border: solid 2px var(--scheme-border-color);
}
