#bg-canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#fg-canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.fg-canvas-wrapper {
    pointer-events: none;
}

body, .widget {
    border-color: lightskyblue;
    background: midnightblue;
}

* {
    color: darkturquoise;
    text-align: center;
    font-variant-ligatures: none;
}

h1, .helle-lachsfarbe {
    color: lightsalmon;
}
